html {
	font-family: 'Roboto';
}
h1, h2, h3, p {
	font-family: 'Roboto';
	color: #444;
	font-weight: 100;
}

p {
	font-size: 12px;
}

.sub-header {
	font-family: 'Roboto';
	font-weight: 100;
	color: #666;
	font-style: italic;
	font-size: 1.3em;
  margin-top: -14px;
}

header {
	margin-top: -35px;
    padding-top: 0;
    float: right;
    margin-right: 15px;
}

nav {
	margin-left: 50px;
	color: #444;
	font-size: 1.3em;
	font-weight:100;
	width: 250px;
  max-width: 250px;
  float: left;
  overflow: hidden;
  height: 100%;
}

nav li {
	padding-bottom: 10px;
}

.nav>li>a {
	padding: 0;
	color: #444;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: #fff
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: #fff;
	border: none;
	border-color: transparent;
}
.dropdown-menu {
	border: none;
	box-shadow: none;
	margin-left: 100px;
  top: 0;
  border-left: 1px solid;
  padding-left: 5px;
  border-color: #999;
  border-radius: 0px;
}

.view {
	float: left;
	width: 900px;
	overflow: hidden;
}


footer {
	background-color: #f8f8f8;
	height: 30px;
	width: 100%;
	bottom: 0;
	height: 30px;
	overflow: hidden;
}
.footer p {
	padding: 8px;
	font-weight: 300;
}

.list-inline>li {
	padding: 5px;
	font-size: 1.2em
}

